<div id="contact">
  <div class="card">
    <h3>Contact Me</h3>
    <p>If you would like to get a hold of me, the best way to get in touch with me would be via email.I'll try to get back to you as soon as possible!</p>
    <div class="contact__icons">
      <a href="https://github.com/apsshrestha28">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/aleena-bhari">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="apsshrestha28@gmail.com">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
  </div>
</div>   