<nav class="navbar-expand-lg fixed-top navigation">
  <a class="navbar-brand initials" href="#">AB</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PROJECTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">RESUME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>       
    </ul>
    <span class="icons">
      <a>
        <i class="fab fa-github"></i>
      </a>
      <a>
        <i class="fab fa-linkedin"></i>
      </a>
    </span>
</nav>