<section class="banner">
  <video muted autoplay loop class="video-section">
    <source src="./assets/bgvideo1.mp4" type="video/mp4" media="">      
  </video>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand initials" href="#">AB</a>
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#">PROJECTS</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="#">RESUME</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>    
      </ul> 
  </nav>
  
</section>